SERVER_URL=http://localhost:8080
NEXT_PUBLIC_SERVER_URL=http://localhost:8080

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gaeldle

# Stack Auth keys
# Get these variables by creating a project on https://app.stack-auth.com.
NEXT_PUBLIC_STACK_PROJECT_ID=
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=
STACK_SECRET_SERVER_KEY=

# Cloudflare
NEXT_PUBLIC_R2_PUBLIC_URL=

# Infisical Configuration (Bypass Login)
INFISICAL_API_URL=https://app.infisical.com/api
INFISICAL_CLIENT_ID=00000000-0000-0000-0000-000000000000
INFISICAL_CLIENT_SECRET=placeholder_replace_me
INFISICAL_PROJECT_ID=235445a-3ve7-bgnj-6yuh-m267bcz553e2
