SERVER_URL=http://localhost:8080
NEXT_PUBLIC_SERVER_URL=http://localhost:8080
NEW_API_URL=http://localhost:8081

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gaeldle

# Hexclave
NEXT_PUBLIC_HEXCLAVE_API_URL=
NEXT_PUBLIC_HEXCLAVE_PROJECT_ID=
NEXT_PUBLIC_HEXCLAVE_PUBLISHABLE_CLIENT_KEY=
HEXCLAVE_SECRET_SERVER_KEY=

# Infisical Configuration (Bypass Login)
INFISICAL_API_URL=https://app.infisical.com/api
INFISICAL_CLIENT_ID=00000000-0000-0000-0000-000000000000
INFISICAL_CLIENT_SECRET=placeholder_replace_me
INFISICAL_PROJECT_ID=235445a-3ve7-bgnj-6yuh-m267bcz553e2
