# Mutagen - From remote to local
PROJECT_NAME=gaeldle
LOCAL_PATH=/home/ubuntu/projects/gaeldle
REMOTE_USER=username
REMOTE_HOST=hostname
REMOTE_PATH=/Users/username/.projects/gaeldle

# Mutagen - From local to remote
# PROJECT_NAME=gaeldle
# LOCAL_PATH=/Users/username/Documents/projects/.gaeldle
# REMOTE_USER=remoteuser
# REMOTE_HOST=remotehost
# REMOTE_PATH=/home/remoteuser/projects/gaeldle

# Infisical Configuration (Bypass Login)
INFISICAL_API_URL=https://app.infisical.com/api
INFISICAL_CLIENT_ID=00000000-0000-0000-0000-000000000000
INFISICAL_CLIENT_SECRET=placeholder_replace_me
INFISICAL_PROJECT_ID=826298a5-53b1-46ee-bc97-c244bfd722d0
