# Ignore artifacts
node_modules
dist
.next
.turbo
coverage

# Ignore lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore other files and folders
*.log
.env
.env.*
*.md
next-env.d.ts
packages/ui
packages/db/drizzle
packages/api-client/src/index.js
packages/api-client/src/index.d.ts
packages/api-client/src/schema.d.ts
apps/api/openapi.json
apps/api/api
