# Ignore artifacts
node_modules
dist
.next
.turbo
coverage

# Ignore lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore other files and folders
*.log
.env
.env.*
*.md
next-env.d.ts
packages/ui
